.featured {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
  }
  .featuredMoney{
    font-size: 30px;
    font-weight: 300;
  }